body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    background: #020617;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.form-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

form {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: #38bdf8;
    cursor: pointer;
}

.about {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    position: fixed;
    bottom: 0;
    width: 100%;
}